<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal1">
        <activity
            android:name=".ParquecuscActivity"
            android:exported="false" />
        <activity
            android:name=".HoteldecamActivity"
            android:exported="false" />
        <activity
            android:name=".ElimposibleActivity"
            android:exported="false" />
        <activity
            android:name=".VolcanstaanaActivity"
            android:exported="false" />
        <activity
            android:name=".RutadelasfloresActivity"
            android:exported="false" />
        <activity
            android:name=".RutadepazActivity"
            android:exported="false" />
        <activity
            android:name=".TermalesActivity"
            android:exported="false" />
        <activity
            android:name=".AtlantisActivity"
            android:exported="false" />
        <activity
            android:name=".TermosdrActivity"
            android:exported="false" />
        <activity
            android:name=".LoschorrosActivity"
            android:exported="false" />
        <activity
            android:name=".PuertaActivity"
            android:exported="false" />
        <activity
            android:name=".MiradormanoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".MiradoresActivity" />
        <activity android:name=".PlayasActivity" />
        <activity android:name=".PlazasActivity" />
        <activity android:name=".BalneariosActivity" />
        <activity android:name=".CaminatasActivity" />
        <activity android:name=".TirolinasActivity" />
        <activity android:name=".ParquesActivity" />
        <activity android:name=".RuinasActivity" />
        <activity android:name=".HotelesActivity" />
        <activity android:name=".ContratoActivity" />
        <activity android:name=".lista_contrato" />
        <activity android:name=".FincaraudActivity" />
    </application>

</manifest>